html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#intro-page{
    position: relative;
    height: 100vh;
    width: 100%;

}

#intro-page > img{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: -1;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 100;
    height: 100vh;
    position: relative;
}

#welcome{
    font-size: 1.5rem;
    text-align: center;
}


#intro-line, #pick-avatar{
    font-size: 1.3rem;
    text-align: center;
}

#name{
    width: 50%;
    height: 30px;
    padding-left: 10px;
    font-size: 1rem;
    background-color: rgb(255, 65, 138);
    border: none;
    border-radius: 10px;
    color: rgb(255, 243, 80);
    
}

input::placeholder{
    color: rgb(255, 243, 80);
}


#invalid-name{
    margin-top: 0.5rem;
}

#invalid-name span, #invalid-avatar span{
    text-align: left;
    color: red;
}

.hidden{
    display: none;
}

.display{
    display: flex;
}

#avatar-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 10px;
}

#avatar-container li{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#avatar-container img:hover{
    border: 2px solid rgb(255, 65, 138);
}

#avatar-container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid white;
}

.selected{
    border-color: rgb(255, 65, 138) !important;
}

#btn{
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: rgb(255, 65, 138);
    color: rgb(255, 243, 80);
}

#btn:hover{
    cursor: pointer;
}





